html,body{height: 100%;}
h1{

font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
.snowball{


    
    background-image: url(snowball.png);
    background-size: 100%;
 
    position: absolute;


}
#snow_scene{
background-size: 1500px;
    background-image: url(wallpaper.jpg);
    height: 600px;
    margin: auto auto;
    position: relative;
    width: 1400px;

color: white;
}
#speed , #speed_tittle{

margin-left: 10px;
}
#speed_back{
width: 300px;
border-radius: 2%;
background-color: rgb(255, 255, 255,0.4);
    display: flex;
    margin: 10px;
}